@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  <a href="mailto:minh.xcode@gmail.com?subject=Test mail to link&body=Van la test&attachment=C:\\Users\\Admin\\Downloads\\note (1).txt">Guiwr mail</a>
</div>
